body { margin: 0; }
#regex {
  border: none;
  border-bottom: 1px solid indianred;
  color: indianred;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 32px;
  margin-top: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
#regex:focus {
  border-bottom: 1px solid indianred;
  box-shadow: 0 5px 5px -5px indianred;
  outline-style: none;
}
#dfa {
  color: gray;
  font-size: 29px;
  padding-top: 45px;
  text-align: center;
}
