body { margin: 0; }

#regex {
  border: none;
  border-bottom: 1px solid indianred;
  color: indianred;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 32px;
  margin-top: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

#regex:focus {
  border-bottom: 1px solid indianred;
  box-shadow: 0 5px 5px -5px indianred;
  outline-style: none;
}

#button {
  display: none;
  position: fixed;
  right: 0;
  top: 45px;
}

#button > a {
  background-color: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 5px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.8);
}

#dfa {
  color: gray;
  font-size: 32px;
  padding-top: 45px;
  text-align: center;
}
